*{ 
    padding:0;
    margin:0;
}


body {
    background-color: #ffffff                ;
}

.sidenav {
    display:grid;
    height: 100%; 
    width:40vh;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #52b7fa52       ; 
    padding-top: 20px;
  }

.sidenav a {
  display: flex;
  justify-content: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
}


a {
    text-decoration: none;
    color:rgb(0, 0, 0); 
}

a:hover {
    color:rgb(146, 136, 136); 
}



.bot_sidenav {
    display:flex;
    align-items: center;
    justify-content: center;
    height:fit-content
}
.projects {
  flex-wrap: wrap;
  margin-left: 20%;
  padding: 20px;
  max-width:100%;
  display:flex;

}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;

}


.project-left {
  width: 50%;
}

.project img {
  width: 150%;

}

.project-right {
  width: 70%;
  padding-left: 20px;
}

#bot-header {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family:Roboto Slab;
}
.image_header {

    display:flex;
    justify-content: center;
    align-items: center;

}



@font-face {
  font-family: Roboto Slab;
  src: url("/imports/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: Playfair;
  src: url("/imports/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: IBM;
  src: url("/imports/IBMPlexSans-Regular.ttf ");
}


.sidenav {
  grid-area: sidenav;
}

.projects {
  grid-area: main-body;
  gap:24px;
}

h1 ,h2, p {
  font-family: IBM;
}
.main {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-areas: "sidenav projects";
}
